.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  background-color: orange;
  display: flex;
  padding: 10px;
}
.header a {
  color: #fff;
  text-decoration: none;
}
footer{
    background-color: #212121;
    color: #fff;
    padding: 10px;
    text-align: center;
}
